<p>distraction.today is a daily quote service that provides a new quote every day. The quotes are sourced from
  a variety of sources, including books, articles, and other online resources.</p>
<p>Created by <a href="https://natwelch.com" target="_blank">Nat Welch</a> as a hope to provide inspiration,
  levity and motivation to his friends and family.</p>
<p>You can contribute or suggest quotes by <a href="https://github.com/icco/distraction.today" target="_blank">opening
    an issue on GitHub</a>.</p>