<!DOCTYPE html>
<html>

  <head>
    <title>distraction.today</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>

    <style>
      body {
        max-width: 1200px;
        font-family: NeueHaas;
      }

      h1 {
        font-family: NeueHaasMedium;
      }

      blockquote {
        font-family: NeueHaasMedium;
      }
    </style>

    <script type="module">
      import { onCLS, onINP, onLCP, onFCP, onFID, onTTFB } from 'https://unpkg.com/web-vitals@4?module';

      function sendToAnalytics(metric) {
        const body = JSON.stringify(metric);
        (navigator.sendBeacon && navigator.sendBeacon('https://reportd.natwelch.com/analytics/distraction', body)) ||
          fetch('https://reportd.natwelch.com/analytics/distraction', { body, method: 'POST', keepalive: true });
      }

      onCLS(sendToAnalytics);
      onFCP(sendToAnalytics);
      onFID(sendToAnalytics);
      onINP(sendToAnalytics);
      onLCP(sendToAnalytics);
      onTTFB(sendToAnalytics);
    </script>
  </head>

  <body class="">
    <main class="grid place-content-center h-screen">
      <div class="prose prose-invert m-4">
        <h1 class="text-lg"><a href="/">distraction.today</a></h1>

        <div class="">
          <p>distraction.today is a daily quote service that provides a new quote every day. The quotes are sourced from
            a variety of sources, including books, articles, and other online resources.</p>
          <p>Created by <a href="https://natwelch.com" target="_blank">Nat Welch</a> as a hope to provide inspiration,
            levity and motivation to his friends and family.</p>
          <p>You can contribute or suggest quotes by <a href="https://github.com/icco/distraction.today"
              target="_blank">opening an issue on GitHub</a>.</p>
        </div>
      </div>
    </main>
    <footer class="footer footer-center bg-base-300 text-base-content p-4">
      <aside>
        <p>Copyright &copy; {{ .Year }} - All rights reserved.</p>
      </aside>
    </footer>
  </body>

</html>