<!DOCTYPE html>
<html>

  <head>
    <title>distraction.today</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,container-queries"></script>

    <style>
      body {
        max-width: 1200px;
        font-family: NeueHaas;
        background-color: #221F26;
      }

      h1 {
        font-family: NeueHaasMedium;
      }

      blockquote {
        font-family: NeueHaasMedium;
      }
    </style>

    <script type="module">
      import { onCLS, onINP, onLCP, onFCP, onFID, onTTFB } from 'https://unpkg.com/web-vitals@4?module';

      function sendToAnalytics(metric) {
        const body = JSON.stringify(metric);
        (navigator.sendBeacon && navigator.sendBeacon('https://reportd.natwelch.com/analytics/distraction', body)) ||
          fetch('https://reportd.natwelch.com/analytics/distraction', { body, method: 'POST', keepalive: true });
      }

      onCLS(sendToAnalytics);
      onFCP(sendToAnalytics);
      onFID(sendToAnalytics);
      onINP(sendToAnalytics);
      onLCP(sendToAnalytics);
      onTTFB(sendToAnalytics);
    </script>
  </head>

  <body class="">
    <main class="grid place-content-center h-screen">
      <div class="prose prose-invert m-4">
        <h1 class="text-lg">distraction.today</h1>

        <div class="">
          <blockquote class="">
            <p class="text-2xl hyphens-auto">
              {{ .Quote.Quote }}
            </p>
            <cite class="text-base">― {{ .Quote.Author }}</cite>
          </blockquote>
        </div>
      </div>
    </main>
    <footer class="footer footer-center bg-base-300 text-base-content p-4">
      <aside>
        {{ if .Quote.SourceURL }}
        <p>Learn more about the quote: <a href="{{ .Quote.SourceURL }}" target="_blank">{{ .Quote.Source }}</a></p>
        {{ end }}
        <p>Quote provided by <a href="{{ .ContributorURL }}" target="_blank">{{ .Quote.Contributor }}</a></p>
        <p>Learn <a href="/about" target="_blank">about distraction.today</a></p>
        <p>Copyright &copy; {{ .Year }}.</p>
      </aside>
    </footer>
  </body>

</html>