<!DOCTYPE html>
<html>

  <head>
    <title>distraction.today</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com?plugins=typography,aspect-ratio,container-queries"></script>

    <style>
      body {
        max-width: 1200px;
        font-family: NeueHaas;
        background-color: #221F26;
      }

      h1 {
        font-family: NeueHaasMedium;
      }

      blockquote {
        font-family: NeueHaasMedium;
      }
    </style>

    <script type="module">
      import { onCLS, onINP, onLCP, onFCP, onFID, onTTFB } from 'https://unpkg.com/web-vitals@4?module';

      function sendToAnalytics(metric) {
        const body = JSON.stringify(metric);
        (navigator.sendBeacon && navigator.sendBeacon('https://reportd.natwelch.com/analytics/distraction.today', body)) ||
          fetch('https://reportd.natwelch.com/analytics/distraction.today', { body, method: 'POST', keepalive: true });
      }

      onCLS(sendToAnalytics);
      onFCP(sendToAnalytics);
      onFID(sendToAnalytics);
      onINP(sendToAnalytics);
      onLCP(sendToAnalytics);
      onTTFB(sendToAnalytics);
    </script>
  </head>

  <body class="">
    <main class="grid place-content-center h-screen">
      <div class="prose prose-invert m-4">
        <h1>distraction.today</h1>

        <div class="">
          <blockquote class="">
            <p class="">
              {{ .Quote.Quote }}
            </p>
            <cite class="">― {{ .Quote.Author }}</cite>
          </blockquote>
        </div>

        <div class="text-sm">
          <p>
            Contributed by {{ .Quote.Contributor }}
          </p>
        </div>
      </div>
    </main>
  </body>

</html>