<!DOCTYPE html>
<html>

  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>

    <style>
      body {
        font-family: NeueHaas;
      }

      h1 {
        font-family: NeueHaasMedium;
      }

      blockquote {
        font-family: NeueHaasMedium;
      }
    </style>

    <script type="module">
      import { onCLS, onINP, onLCP, onFCP, onFID, onTTFB } from 'https://unpkg.com/web-vitals@4?module';

      function sendToAnalytics(metric) {
        const body = JSON.stringify(metric);
        (navigator.sendBeacon && navigator.sendBeacon('https://reportd.natwelch.com/analytics/distraction', body)) ||
          fetch('https://reportd.natwelch.com/analytics/distraction', { body, method: 'POST', keepalive: true });
      }

      onCLS(sendToAnalytics);
      onFCP(sendToAnalytics);
      onFID(sendToAnalytics);
      onINP(sendToAnalytics);
      onLCP(sendToAnalytics);
      onTTFB(sendToAnalytics);
    </script>
  </head>

  <body class="">
    <main class="grid place-content-center h-screen">
      <div class="prose prose-invert m-4">
        <h1 class="text-lg"><a href="/">distraction.today</a></h1>

        <div class="">
          {{ yield }}
        </div>
      </div>
    </main>
    <footer class="footer footer-center bg-base-300 text-base-content p-4">
      <aside>
        {{ if .Quote }}
        {{ if .Quote.SourceURL }}
        <p>Learn more about the quote: <a href="{{ .Quote.SourceURL }}" target="_blank">{{ .Quote.Source }}</a></p>
        {{ end }}
        {{ if .ContributorURL }}
        <p>Quote provided by <a href="{{ .ContributorURL }}" target="_blank">{{ .Quote.Contributor }}</a></p>
        {{ else }}
        <p>Quote provided by {{ .Quote.Contributor }}</p>
        {{ end }}
        {{ end }}
        <p>Learn <a href="/about">about distraction.today</a></p>
        <p>Copyright &copy; {{ .Year }} - All rights reserved.</p>
      </aside>
    </footer>
  </body>

</html>